<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
</head>      

<body ng-app="WebSeedCore">
  <script type="text/javascript" src="js/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="js/bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/core_app.js"></script>

  <div id="top">
  	<div id="main-navbar-ctn" th:include="header::navbar"></div>
  </div>
  
  <div id="content" ng-view="">
  </div>

</body>

</html>